html
    head
        meta(charset="UTF-8")
        title Node Mongo
    body
        h1 Регистрация
        form(method="post")
            div Name:
                input(name="name" type="text")
            div Email:
                input(name="email" type="text")
            div Password:
                input(name="password" type="text")
            button(type="submit") Submit
